# Bot Configuration
config.js

# Node modules
node_modules
package-lock.json

# Fortnite Shop images
assets/img/fortnite/shop/**/*.png
!assets/img/fortnite/shop/**/example-shop.png

# DB
giveaways.json

# Mac OS files
.DS_Store

# PM2
report*.json
