<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0-beta
    </div>
    <strong>This website uses <a href="https://adminlte.io">AdminLTE</a> and <a href="https://boostrap.com">Boostrap</a>. Made with <i class="fa fa-heart"></i> by <a target="_blank" href="https://github.com/Androz2091">Androz2091</a>.</strong> 
</footer>